<script type="text/javascript">
function get_data() {
  return new Object({
    'chips': <%= @chips_json %>,
    'users': <%= @users_json %>,
    'categories': <%= @categories_json %>
  });
}
</script>

<div id="container">
  <p>Who gets a chip?</p>
  
  <div id="user_select">  
    <% @users.each do |user| %>
    <div class="user" id="user_<%=user.id%>">
      <span class="user_name"><%=user.login%></span>
    </div>
    <% end %>
  </div>

  <p>And for which category?</p>

  <div id="category_select">
    <% @categories.each do |cat| %>
    <div class="category" id="category_<%=cat.id%>">
      <span class="category_name"><%=cat.name%></span>
      <span class="category_chips"></span>
    </div>
    <% end %>
  </div>
</div>

<div id="links">
  <p>
    <% if current_user.is_approved? %>
    <%= link_to 'Add Category', new_category_path %>
    <% end %>

    <% if current_user.is_admin? %>
    <%= link_to 'Add User', new_admin_user_path %>
    <% end %>
  </p>
</div>
